//@import '../../../node_modules/antd/dist/antd.css';

//@import "antd/dist/antd.css";
@mixin myFont($color, $fontsize, $float) {
  color: $color;
  font-size: $fontsize;
  float: $float;
}
.figGroup {
    width: 380px;
    height: 300px;
    border: 1px solid #ddd;
    padding: 1px;
    margin: 5px 10px;
    position: relative;
    display: inline-block;
    .category {
      width: 90px;
      height: 25px;
      @include myFont(#fff, 18px, left);
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: #59b200;
      border-bottom-right-radius: 4px;
    }
}
.figTitle {
    color: #333;
    font-weight: normal;
}
figure {
    .price {
        @include myFont(#f60, 14px, left);
    }
    .satis {
        @include myFont(#999, 13px, right);
    }
}
