@import '../../node_modules/antd/dist/antd.css';

.figGroup {
    width: 380px;
    height: 300px;
    border: 1px solid #ddd;
    padding: 1px;
    margin: 5px 10px;
    position: relative;
    display: inline-block;
}
.figTitle {
    color: #333;
    font-weight: normal;
}
figure .price {
    color: #f60;
    font-size: 14px;
    float: left;
}
figure .satis {
    color: #999;
    font-size: 13px;
    float: right;
}
.figGroup .category {
    width: 90px;
    height: 25px;
    font-size: 18px;
    color: #fff;
    float: left;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #59b200;
    border-bottom-right-radius: 4px;
}