.point {
    width: 100%;
    min-width: 1263px;
    height: 300px;
    background: linear-gradient(to bottom right, rgba(0,0,0,0.7),
    rgba(0,0,0,0.0)), url(../imgs/headline.jpg) no-repeat center ;
    position: relative;
}
.point h2 {
    color: #eee;
    font-size: 36px;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.point h3 {
    color: #eee;
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    top: 60%;
    left: 30%;
}